<h1>List</h1>
<ol>
  {{#each items}}
  <li>User Name: {{name}}</li>
  <li>email: {{email}}</li>
  <li>Liquid Amount: {{amount}}</li>
  <li>NO IBM Stocks: {{IBM}}</li>
   <li>Current Net Worth: {{totalStockAndAssets}}</li>
  {{/each}}
</ol>